

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<div class="alert alert-info">
    <strong>{{error}}</strong>
</div>
<div class="container">
    <div style="color: #ff6f75; margin-bottom: 20px">
        <h3>{{description}}</h3>
    </div>
</div>

<label class="btn btn-default">
    <input type="file" (change)="setFile($event)">
</label>

<select (change)="setUploadReason($event.target.value)" id="purpose" class='select-option' required [(ngModel)]="purposeId" name="purpose">
    <option [value]="undefined" disabled selected>Reason For Uploading Dataset</option>
    <option class='option' *ngFor="let purpose of uploadReasons" [value]="purpose">{{purpose}}</option>
</select>

<select [disabled]="!for_training" (change)="setBucketDirectoryName($event.target.value)" id="Id" class='select-option' required [(ngModel)]="nameId" name="Id">
        <option [value]="undefined" disabled selected>Bucket Directory</option>
    <option class='option' *ngFor="let option of bucketDirectories" [value]="option">{{option}}</option>
</select>

<select [disabled]="for_training" (change)="setModelName($event.target.value)" id="modelID" class='select-option' required [(ngModel)]="modelId" name="modelID">
    <option [value]="undefined" disabled selected>ModelDirectory</option>
    <option class='option' *ngFor="let option of modelNames" [value]="option">{{option}}</option>
</select>
<button class="btn btn-success" [disabled]="!selectedFiles" (click)="submit()">Upload</button>

<div id="container" style="height: 400px"></div>

<div id="prediction_container" style="height: 400px"></div>
